<p>create-playlist works!</p>


<table class="table">
    <thead class="thead-dark">
    <tr>
      <th>name</th>
      <th>music type</th>
      <th>description</th>
  <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" [(ngModel)]="playlist.name"  name="name" ></td>
  
  
      <td><input type="text" [(ngModel)]="playlist.musicType"  name="musicType" ></td>
  
  
      <td><input type="text" [(ngModel)]="playlist.description"  name="description" ></td>

  
      <td>
        <div>
          <label class="sbw_light">Song of Playlist</label><br />
          <select [(ngModel)]="listIdSong" multiple>
             <option *ngFor="let song of songs" [value]="song.id">{{song.name}}</option>
          </select>
        </div></td>
      
      <td><button class="btn btn-secondary" (click)="createPlaylist(playlist.id)">Update</button></td>
    </tr>
    </tbody>
  </table>
  <!-- 
  <div *ngIf="name.errors?.required">
    Name is required
  </div>
  <div *ngIf="musicType.errors?.required">
    Music type  is required
  </div>
  <div *ngIf="description.errors?.required">
    Description is required
  </div> -->