<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create Playlist</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Name playlist:</label>
                                    <input [(ngModel)]="playlist.name" name="name" type="text" minlength="3" maxlength="30" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="musictype">Music type playlist:</label>
                                    <input type="text" matInput name="music" minlength="3" maxlength="30" required [(ngModel)]="playlist.musicType" id="musictype" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="description">Description playlist</label>
                                    <textarea name="description" minlength="3" required [(ngModel)]="playlist.description" rows="4" cols="50"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="cars">Choose the song:</label>
                                    <select name=”songList” [(ngModel)]="listIds" multiple required>
                                        <option *ngFor="let so of song" value={{so.id}}>{{so.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="onclickAdd()" class="btn btn-primary">Create playlist</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  